################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameOfLife
/GameOfLife.API/obj
/.vs/ProjectEvaluation
/src/GameOfLife.API/obj
/src/GameOfLife.API/bin/Debug/net7.0
/src/GameOfLife.Tests/bin/Debug/net7.0
/src/GameOfLife.Tests/obj
/src/GameOfLife.API/bin/Release/net7.0
/src/GameOfLife.Tests/bin/Release/net7.0
/src/GameOfLife.Benchmark/obj
/src/GameOfLife.Benchmark/bin
