################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GameOfLife
/GameOfLife.API/obj
/.vs/ProjectEvaluation
/src/GameOfLife.API/obj
